$breakpoints: (
    xs: 0px,      // Extra small (mobile, минимальный размер)
    sm: 576px,    // Small (mobile)
    md: 768px,    // Medium (tablet)
    lg: 992px,    // Large (desktop)
    xl: 1200px,   // Extra large (large desktop)
    xxl: 1400px   // Extra extra large (ultra-wide)
) !default;
$text: #dcdcdc;
$placeholder-text: #9c9c9c;
$body-background: #4c4c4c;
$elements-background: #3d3d3d;
$list-background: #454545;
$list-hover: #4f4f4f;
$list-disabled: #3b3b3b;
$list-border: #898989;
$button: #2c4e84;
$button-disabled: #8e8e8e;